@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
  font: normal 100%/1.5;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 110%;
  }

}

*, *::before, *::after {
  box-sizing: inherit;
}

.logo {
  position: relative;
  float: left;
  height: 80px;
}

.header1 {
  height: 255px;
}

.header2 {
  height: 255px;
}

header nav {
  text-align: right;
  background-color: black;
  position: absolute;
}

nav {
  color: white;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background-color: #B1B3B6;
  padding: 0.6em;
  font-size: 100%;
}

a:hover {
    font-size: 110%;
}

.masthead {
  text-align: center;
  background-image: url("../images/blue-street.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 16em;
  background-color: #28B4E2;
}

.masthead2 {
  text-align: center;
  background-image: url("../images/bwstreet.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 18.4em;
  background-color: black;
}

.masthead3 {
  text-align: center;
  background-image: url("../images/blue-city.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 17.3em;
  background-color: #28B4E2;
}

h1 {
  margin: 0;
  color: white;
}

.blue {
  color: #28B4E2;
}

.create {
  text-align: center;
}

.otr {
  bottom: 79px;
  position: relative;
  text-shadow: 2px 2px black;
}

.otr2 {
  bottom: 148px;
  position: relative;
  color: #28B4E2;
  text-shadow: 2px 2px black;
}

.otr3 {
  bottom: 139px;
  position: relative;
  text-shadow: 2px 2px black;
}

p {
  margin: 0;
}

.task {
  position: relative;
  bottom: 83px;
}

h2 {
  margin: 0;
}

.button {
  background-color: black;
  color: white;
  margin: 0;
  text-align: center;
  max-width: 20em;
  margin: auto;
}

.buttoni {
  position: relative;
  bottom: 59px;
}

.button2 {
  background-color: #28B4E2;
  color: white;
  text-align: center;
  max-width: 20em;
  margin: auto;
}

.price1 {
  border-color: #B1B3B6;
  border-style: solid;
  border-width: medium;
  text-align: center;
  background-color: white;
}

.price2 {
  background-color: #28B4E2;
  text-align: center;
}

.price3 {
  border-color: #B1B3B6;
  border-style: solid;
  border-width: medium;
  text-align: center;
  background-color: white;
}

.bold {
  font-weight: bold;
  font-size: 300%;
}

form {
  display: block;
  margin: auto;
}

label {
  display: block;
}

input, select {
  width: 15em;
}

.main1 {
  top: 138px;
  position: relative;
}

footer {
  text-align: center;
}

.footer1 {
  position: relative;
  bottom: -146px;
}

@media only screen and (min-width: 17em) {

  .masthead {
    padding-top: 16.75em;
  }

  .masthead2 {
    padding-top: 19em;
  }

  .masthead3 {
    padding-top: 18.5em;
  }

  .header1 {
    height: 272px;
  }

  .header2 {
    height: 272px;
  }

  .otr {
    bottom: 88px;
  }

  .task {
    bottom: 90px;
  }

  .buttoni {
    bottom: 35px;
  }

}

@media only screen and (min-width: 23em) {

  .masthead {
    padding-top: 17em;
  }

  .masthead2 {
    padding-top: 20em;
  }

  .masthead3 {
    padding-top: 19em;
  }

  .header1 {
    height: 297px;
  }

  .header2 {
    height: 297px;
  }

  .main1 {
    top: 112px;
  }

  .otr {
    bottom: 88px;
  }

  .task {
    bottom: 85px;
  }

  .buttoni {
    bottom: 20px;
  }

}

@media only screen and (min-width: 27em) {

  .masthead {
    padding-top: 20em;
  }

  .masthead2 {
    padding-top: 22.5em;
  }

  .masthead3 {
    padding-top: 21em;
  }

  .header1 {
    height: 332px;
  }

  .header2 {
    height: 332px;
  }

  .otr {
    bottom: 100px;
  }

  .task {
    bottom: 102px;
  }

  .buttoni {
    bottom: 96px;
  }

}


@media only screen and (min-width: 31em) {

  .header1 {
    height: 357px;
  }

  .header2 {
    height: 357px;
  }

}


@media only screen and (min-width: 38em) {

  .masthead {
    padding-top: 23em;
  }

  .masthead2 {
    padding-top: 25.5em;
  }

  .masthead3 {
    padding-top: 25.5em;
  }

  .header1 {
    height: 500px;
  }

  .header2 {
    height: 273px;
  }

  .otr {
    bottom: 125px;
  }

  .otr3 {
    bottom: 278px;
  }

  .task {
    bottom: 122px;
  }

  .buttoni {
    bottom: 116px;
  }

  .price1 {
    height: 670px;
  }

  .price2 {
    max-height: 670px;
  }

  .price3 {
    max-height: 670px;
  }

}


@media only screen and (min-width: 43em) {

  .price1 {
    height: 585px;
  }

  .price2 {
    max-height: 585px;
  }

  .price3 {
    max-height: 585px;
  }

}


@media only screen and (min-width: 49em) {

  .price1 {
    height: 500px;
  }

  .price2 {
    max-height: 500px;
  }

  .price3 {
    max-height: 500px;
  }

}


@media only screen and (min-width: 56em) {

  .masthead {
    padding-top: 33em;
  }

  .masthead2 {
    padding-top: 34.5em;
  }

  .masthead3 {
    padding-top: 34.5em;
  }

  .header1 {
    height: 670px;
  }

  .header2 {
    height: 364px;
  }

  .otr {
    bottom: 191px;
  }

  .otr3 {
    bottom: 370px;
  }

  .task {
    bottom: 175px;
  }

  .buttoni {
    bottom: 155px;
  }

}


@media only screen and (min-width: 66em) {

  .price1 {
    height: 460px;
  }

  .price2 {
    max-height: 460px;
  }

  .price3 {
    max-height: 460px;
  }

}
